/*
!/.gitignore
!/.gitmodules
!/README.md
!/LICENSE
!/mptabs.svg
!/release.jks.enc
!/docs
/docs/*
!/docs/fetch
!/docs/pdfjs-dist
!/docs/uikit
!/docs/mptabs.png
!/docs/profile.png
!/docs/index.html
!/docs/pdf.html
!/docs/inc
/docs/inc/*
!/docs/inc/data.json
!/docs/inc/tab1.pdf
!/docs/inc/tab2.pdf
!/docs/inc/tab3.pdf
!/docs/inc/tab4.pdf
!/docs/inc/tab5.pdf
!/docs/inc/tab6.pdf
!/docs/inc/tab7.pdf
!/docs/inc/tab8.pdf
!/docs/inc/tab9.pdf
!/docs/inc/tab10.pdf
!/docs/inc/tab11.pdf
!/docs/inc/tab12.pdf
!/docs/inc/tab13.pdf
!/docs/inc/tab14.pdf
!/docs/inc/tab15.pdf
!/docs/inc/tab16.pdf
!/docs/inc/tab17.pdf
!/docs/inc/tab18.pdf
!/docs/inc/tab19.pdf
!/docs/inc/tab20.pdf
!/docs/inc/tab21.pdf
!/docs/inc/tab22.pdf
!/docs/inc/tab23.pdf
!/docs/inc/tab24.pdf
!/docs/inc/tab25.pdf
!/docs/inc/tab26.pdf
!/docs/inc/tab27.pdf
!/docs/inc/tab28.pdf
!/docs/inc/tab29.pdf
!/docs/inc/tab30.pdf
!/docs/inc/tab31.pdf
!/docs/inc/tab32.pdf
!/docs/inc/tab33.pdf
!/docs/inc/tab34.pdf
!/docs/inc/tab35.pdf
!/docs/inc/tab36.pdf
!/docs/inc/tab37.pdf
!/docs/inc/tab38.pdf
!/docs/inc/tab39.pdf
!/docs/inc/tab40.pdf
!/docs/inc/tab41.pdf
!/docs/inc/tab42.pdf
!/docs/inc/tab43.pdf
!/docs/inc/tab44.pdf
!/docs/inc/tab44bis.pdf
!/docs/inc/tab45.pdf
!/docs/inc/tab46.pdf
!/docs/inc/tab47.pdf
!/docs/inc/tab48.pdf
!/docs/inc/tab49.pdf
!/docs/inc/tab50.pdf
!/docs/inc/tab51.pdf
!/docs/inc/tab52.pdf
!/docs/inc/tab53.pdf
!/docs/inc/tab54.pdf
!/docs/inc/tab55.pdf
!/docs/inc/tab56.pdf
!/docs/inc/tab57.pdf
!/docs/inc/tab58.pdf
!/docs/inc/tab59.pdf
!/docs/inc/tab60.pdf
!/docs/inc/tab61.pdf
!/docs/inc/tab62.pdf
!/docs/inc/tab63.pdf
!/docs/inc/tab64.pdf
!/docs/inc/tab65.pdf
!/docs/inc/tab66.pdf
!/docs/inc/tab67.pdf
!/docs/inc/tab68.pdf
!/docs/inc/tab69.pdf
!/docs/inc/tab70.pdf
!/docs/inc/tab71.pdf
!/docs/inc/tab72.pdf
!/docs/inc/tab73.pdf
!/docs/inc/tab74.pdf
!/docs/inc/tab75.pdf
!/docs/inc/tab76.pdf
!/docs/inc/tab77.pdf
!/docs/inc/tab78.pdf
!/docs/inc/tab79.pdf
!/docs/inc/tab80.pdf
!/docs/inc/tab81.pdf
!/docs/inc/tab82.pdf
!/docs/inc/tab83.pdf
!/docs/inc/tab84.pdf
!/docs/inc/tab85.pdf
!/mptabs.pro
!/qt
/qt/*
!/qt/main.cpp
!/qt/mptabs.qrc
!/qt/qt.pro
!/qt/linux
/qt/linux/*
!/qt/linux/mptabs.desktop
!/qt/linux/mptabs.png
!/qt/osx
/qt/osx/*
!/qt/osx/mptabs.icns
!/qt/windows
/qt/windows/*
!/qt/windows/mptabs16x16.ico
!/qt/windows/mptabs32x32.ico
!/qt/windows/mptabs48x48.ico
!/qt/windows/mptabs256x256.png
!/qt/windows/windows.rc
!/mptabs.nsi
!/build.gradle
!/settings.gradle
!/android
/android/*
!/android/build.gradle
!/android/gradle.properties
!/android/src
/android/src/*
!/android/src/main
/android/src/main/*
!/android/src/main/AndroidManifest.xml
!/android/src/main/kotlin
/android/src/main/kotlin/*
!/android/src/main/kotlin/tn
/android/src/main/kotlin/tn/*
!/android/src/main/kotlin/tn/drx
/android/src/main/kotlin/tn/drx/*
!/android/src/main/kotlin/tn/drx/mptabs
/android/src/main/kotlin/tn/drx/mptabs/*
!/android/src/main/kotlin/tn/drx/mptabs/MPTabsActivity.kt
!/android/src/main/res
/android/src/main/res/*
!/android/src/main/res/mipmap-ldpi
/android/src/main/res/mipmap-ldpi/*
!/android/src/main/res/mipmap-ldpi/ic_launcher.png
!/android/src/main/res/mipmap-hdpi
/android/src/main/res/mipmap-hdpi/*
!/android/src/main/res/mipmap-hdpi/ic_launcher.png
!/android/src/main/res/mipmap-mdpi
/android/src/main/res/mipmap-mdpi/*
!/android/src/main/res/mipmap-mdpi/ic_launcher.png
!/android/src/main/res/mipmap-tvdpi
/android/src/main/res/mipmap-tvdpi/*
!/android/src/main/res/mipmap-tvdpi/ic_launcher.png
!/android/src/main/res/mipmap-xhdpi
/android/src/main/res/mipmap-xhdpi/*
!/android/src/main/res/mipmap-xhdpi/ic_launcher.png
!/android/src/main/res/mipmap-xxhdpi
/android/src/main/res/mipmap-xxhdpi/*
!/android/src/main/res/mipmap-xxhdpi/ic_launcher.png
!/android/src/main/res/mipmap-xxxhdpi
/android/src/main/res/mipmap-xxxhdpi/*
!/android/src/main/res/mipmap-xxxhdpi/ic_launcher.png
!/android/src/main/res/values
/android/src/main/res/values/*
!/android/src/main/res/values/colors.xml
!/android/src/main/res/values/strings.xml
!/android/src/main/res/values/styles.xml
!/.travis.yml
!/appveyor.yml
!/gradlew
!/gradlew.bat
!/gradle
/gradle/*
!/gradle/wrapper
/gradle/wrapper/*
!/gradle/wrapper/gradle-wrapper.properties
!/gradle/wrapper/gradle-wrapper.jar
!/debian
!/git2dch
/debian/*
!/debian/changelog
!/debian/compat
!/debian/control
!/debian/copyright
!/debian/rules
!/debian/source
/debian/source/*
!/debian/source/format
