/*
!/.gitignore
!/README.md
!/LICENSE
!/mptabs.svg
!/docs
/docs/*
!/docs/manifest.webmanifest
!/docs/sw.js
!/docs/img
/docs/img/*
!/docs/img/mptabs120x120.png
!/docs/img/mptabs180x180.png
!/docs/img/mptabs192x192.png
!/docs/img/mptabs512x512.png
!/docs/mptabs.png
!/docs/profile.png
!/docs/index.html
!/docs/inc
/docs/inc/*
!/docs/inc/style.css
!/docs/inc/data.json
!/docs/inc/tab.html