[submodule "docs/uikit"]
	path = docs/uikit
	url = https://github.com/uikit/uikit
[submodule "docs/pdfjs-dist"]
	path = docs/pdfjs-dist
	url = https://github.com/mozilla/pdfjs-dist
[submodule "docs/Fuse"]
	path = docs/Fuse
	url = https://github.com/krisk/Fuse