Source: mptabs
Section: education
Priority: optional
Maintainer: DrX@TN <39054543+drx-tn@users.noreply.github.com>
Build-Depends: debhelper, qt5-default, qtdeclarative5-dev, qtwebengine5-dev
Standards-Version: 4.1.2
Homepage: https://drx-tn.github.io
#Vcs-Git: https://github.com/drx-tn/mptabs.git

Package: mptabs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5widgets5, libqt5gui5, libqt5sql5, libqt5core5a, libqt5webengine5
Description:   Application tableaux des maladies professionnelles en Tunisie
  MPTabs est une application qui permet de consulter rapidement les tableaux des maladies professionnelles en Tunisie. Elle s'inspire et utilise des documents publiés par l'Institut de Santé et de Sécurité au Travail (http://www.isst.nat.tn). MPTabs existe en versions multiplateformes avec des versions pour Windows, Mac Os, Linux et Android avec aussi une version consultable en ligne. (En savoir plus sur le projet: https://drx.tn/mptabsapp | Rapporter des bugs ou des erreurs: https://github.com/drx-tn/mptabs/issues)
